@import url("https://fonts.googleapis.com/css2?family=ABeeZee");

.navbar {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  min-height: 50px;
  font-size: 1.5rem;
  color: #ebbf85;

  .navbar_links {
    display: flex;
    gap: 1rem;
  }

  .navbar_link {
    padding: 0 0.3rem;
    color: inherit;
    text-decoration: none;
  }

  .navbar_burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "AbeeZee", sans-serif;
  }
  .home-link {
    display: flex;
  }
  .logo {
    width: 25%;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .navbar_links {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    background-color: black;
    visibility: hidden;
    transition: all 0.8s ease-out;
    z-index: 999;
  }

  img {
    width: 80%;
  }
  .show-nav .navbar_links {
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  .navbar_item:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: #ebbf85;
  }

  .navbar_item:last-child:after {
    display: none;
  }
  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }

  .navbar_burger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  .navbar_burger:hover {
    cursor: pointer;
  }

  .burger-bar,
  .burger-bar:before,
  .burger-bar:after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #ebbf85;
    transition: all 0.5s ease-in-out;
  }

  .burger-bar:before,
  .burger-bar:after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger-bar:before {
    transform: translateY(-12px);
  }

  .burger-bar:after {
    transform: translateY(12px);
  }

  .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }

  .show-nav .burger-bar:before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar:after {
    transform: rotate(-45deg);
  }

  /* burger button animation */
  .navbar_item {
    transform: translateY(100vh);
  }
  .show-nav .navbar_item {
    transform: translateY(0);
  }
  .show-nav .slideInDown-1 {
    transition: all 1s ease-out;
  }
  .show-nav .slideInDown-2 {
    transition: all 1.1s ease-out;
  }
  .show-nav .slideInDown-3 {
    transition: all 1.2s ease-out;
  }
  .show-nav .slideInDown-4 {
    transition: all 1.3s ease-out;
  }
}
