.navbar {
  display: flex;
  background-color: transparent;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  color: #ffb24dd1;
  flex-direction: row;
  gap: 2rem;
  margin-top: 5%;
}
