.navbarwelcome {
  display: flex;
  background-color: transparent;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  color: #ebbf85;
  display: flex;
  gap: 2rem;

  a {
    margin-top: 5rem;
  }
}
