@import url("https://fonts.googleapis.com/css2?family=ABeeZee");

.search-box {
  background-color: #ffefda;
  border-radius: 10px;
  box-shadow: 0px 10px 25px black;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  height: 30px;
  justify-content: center;
  width: 85%;
  margin: auto;
  position: relative;
}
::placeholder {
  color: #bfbdc7;
}
input {
  border: none;
  background-color: transparent;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  font-weight: 500;
  text-decoration-thickness: 0, 8s;
}

img.loupe {
  width: 30px;
}
.search-result {
  padding: 10px;
  display: flex;
}

.card-media {
  margin: 10px;
  border-radius: 20px;
  border: rgb(0, 0, 0) solid 1px;
  width: 300px;
  padding: 5px;
  position: relative;
  background-color: #ebbf85;
  cursor: pointer;

  img {
    border-radius: 20px;
    width: auto;
  }
}

.card-media:hover {
  background-color: white;
  color: black;
}

.favorite-button {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 2.2rem;
  cursor: pointer;
  outline: none;

  &:hover {
    transform: scale(1.2);
  }
}

.favorite-button.is-favorite {
  color: red;
}

@media screen and (min-width: 950px) {
  .search-box {
    width: 500px;
  }

  .card-media {
    margin: 10px;
    border-radius: 20px;
    border: rgb(0, 0, 0) solid 1px;
    width: 300px;
    padding: 5px;
    position: relative;
    background-color: #ebbf85;
    cursor: pointer;
  }

  .search-result {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 950px) and (min-width: 650px) {
  .search-box {
    width: 500px;
  }
  .card-media {
    margin: 10px;
    border-radius: 20px;
    border: rgb(0, 0, 0) solid 1px;
    width: 200px;
    padding: 5px;
    position: relative;
    background-color: #ebbf85;
    cursor: pointer;
  }

  .search-result {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .search-result {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 35px;
    align-content: center;
  }

  .card-media {
    position: relative;
    display: flex;
    border-radius: 20px;
    border: rgb(0, 0, 0) solid 1px;
    width: 75%;
    background-color: #ebbf85;
    cursor: pointer;
  }

  img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
}
