@import url("https://fonts.googleapis.com/css2?family=ABeeZee");

.barre {
  img {
    width: 50%;
    display: block;
    height: auto;
  }
  h1 {
    padding: 10px 10px;
    width: 95%;
    background-color: #ebbf85;
    border-radius: 10px;
    margin: auto;
    font-family: "AbeeZee", sans-serif;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: black;
    font-size: 1.5rem;
  }
  h2 {
    padding: 10px 10px;
    width: 95%;
    background-color: #ebbf85;
    font-family: "AbeeZee", sans-serif;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: black;
  }
  .slider-button {
    margin-left: 3%;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: #ebbf85;
    padding: 1%;
    box-shadow: 0px 0px 6px #ebbf85;
  }
  .slider-value {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .barre {
    h1 {
      width: 80%;
    }
    .slider-button {
      display: block;
      margin: auto;
    }

    h2 {
      width: 80%;
      margin-left: 3%;
      font-size: 1.5rem;
      border-radius: 8px;
      background-color: #1a1a1a;
      color: #ebbf85;
      padding: 1%;
      box-shadow: 0px 0px 6px #ebbf85;
      margin: auto;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }
}
