@import url("https://fonts.googleapis.com/css2?family=ABeeZee");

.barre {
  h1 {
    padding: 10px 10px;
    width: 95%;
    background-color: #ebbf85;
    border-radius: 10px;
    margin: auto;
    font-family: "AbeeZee", sans-serif;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: black;
  }
  h2 {
    padding: 10px 10px;
    width: 95%;
    background-color: #ebbf85;
    font-family: "AbeeZee", sans-serif;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: black;
  }

  img {
    width: 50%;
    display: block;
    height: auto;
  }
}
