.error-page {
  display: flex;
  flex-direction: column;
  p {
    color: #ebbf85;
    text-align: center;
    font-size: 3rem;
    width: 100vw;
  }

  .logo {
    margin: auto;
    width: 30%;
  }
}
