.serie-mosaic {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-content: center;

  .serie-card {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .series {
    h2.cross-bar {
      padding: 10px 10px;
      width: 80%;
      background-color: #ebbf85;
      border-radius: 10px;
      margin: auto;
      font-family: "AbeeZee", sans-serif;
      margin-bottom: 3rem;
      text-align: center;
      margin-top: 3rem;
      color: black;
      font-size: 1.5rem;
    }
  }
}
