.welcome {
  background-image: url("../assets/iStock-486175530.jpg");
  background-repeat: none;
  width: 100vh 100vw;
  min-height: 100vh;
  background-position: center center;
  opacity: 90%;
  background-size: cover;
  position: fixed;

  h1 {
    color: #ebbf85;
    font-style: italic;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 5rem;
  }

  h2 {
    text-align: center;
    margin-top: 15vh;
  }

  input {
    background-color: transparent;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    width: 65%;
    color: #ffefdad1;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    border: #ffefda2c 0.5px solid;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media screen and (min-width: 650px) {
  .welcome {
    background-image: url("../assets/iStock-486175530.jpg");
    background-repeat: none;
    width: 100%;
    min-height: 100vh;
    background-position: center center;
    opacity: 90%;

    input {
      background-color: transparent;
      font-size: 2rem;
      font-style: italic;
      text-align: center;
      width: 40%;
      color: #ffefdad1;
      border-radius: 10px;
      padding: 10px;
      margin: auto;
      border: #ffefda2c 0.5px solid;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    h1 {
      color: #ebbf85;
      font-style: italic;
      font-size: 1rem;
      text-align: center;
      margin-top: 10rem;
    }
  }

  h2 {
    text-align: center;
    margin-top: 15vh;
    display: block;
  }
}
